* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-background: #EBEBEB;
    --dark-background: #1C1C1C;
    --legend-light: #616060;
    --legend-dark: #9a9faa;
    --primary-color: #1685CA;
}

body {
    padding: 20px;
    font-family: "Noto Serif", serif;
}

#app.active {
    opacity: 0.5;
}

body.light {
    background-color: var(--light-background);
    color: var(--dark-background);
}

body.dark {
    background-color: var(--dark-background);
    color: var(--light-background);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.count-pizzas {
    display: flex;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    right: 122px;
    top: 20px;
    z-index: 1;
}

.count-pizzas p {
    font-size: 12px;
    color: white;
    margin: auto;
    font-weight: bold;
}

.cart-icon svg {
    stroke: #1C1C1C;
}

.cart-icon {
    position: relative;
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: 0.3s;
}

.cart-icon .light {
    stroke: #1C1C1C;
}

main {
    margin-top: 20px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}

.container {
    display: flex;
    gap: 190px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pizza-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.pizza-img {
    width: 195px;
    height: 195px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 7px;
    position: relative;
    border-radius: 12px;
}

.pizza-img.margherita {
    background-image: url("../images/margherita.png");
}

.pizza-img.portuguese {
    background-image: url("../images/portuguesa.png");
}

.pizza-img.mushroom {
    background-image: url("../images/cogumelo.png");
}

.pizza-img.vegetarian {
    background-image: url("../images/vegetariana.png");
}

.pizza-img.mexican {
    background-image: url("../images/mexicana.png");
}

.pizza-img.sweet {
    background-image: url("../images/doce.png");
}

.purchase {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.purchase svg {
    width: 50px;
    height: 50px;
    fill: #1C1C1C;
    transition: 0.3s;
}

.purchase svg:hover {
    transform: scale(1.2);
}


.pizza-info.light {
    color: var(--legend-light);
}

.pizza-info.dark {
    color: var(--legend-dark);
}

.pizza-card h2 {
    margin-top: 5px;
    font-size: 17px;

}


.pizza-card h3 {
    font-size: 23px;
}

.pizza-card p {
    max-width: 220px;
    font-size: 15px;
    text-align: center;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.details>* {
    display: flex;
    align-items: center;
}

.theme-switch {
    position: relative;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #b8c8d1b5;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.switch .icon {
    position: absolute;
    width: 21px;
    height: 23px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
}



.switch .sun {
    left: 6px;
}

.moon * {
    stroke: #567c8b;
}

.sun * {
    stroke: #ffffff;
}

.switch .moon {
    right: 6px;
    opacity: 0.3;
}

.slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background: #ebebeb;
    border-radius: 50%;
    transition: transform 0.3s;
}

#theme-checkbox:checked+.switch {
    background: #585858;
}

#theme-checkbox:checked+.switch .slider {
    transform: translateX(30px);
    background-color: #808080
}

#theme-checkbox:checked+.switch .sun {
    opacity: 0.3;
}

#theme-checkbox:checked+.switch .moon {
    opacity: 1;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 52%;
    left: 50%;
    flex-direction: row;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color: #fcfcfc;
    z-index: 2;
    border-radius: 17px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

}

.choosed-pizza {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 45%;
    height: 100%;
}

.choosed-pizza img {
    width: 85%;
}

.pizza-description {
    width: 55%;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}


.pizza-description p {
    font-size: 14px;
    color: var(--legend-light);
}

.sizes {
    display: flex;
    margin-top: 10px;
    gap: 9px;
    flex-direction: column;
}


.pizza-description div h2 {
    font-size: 16px;
    font-weight: 500;
    color: #919090
}

.size-options div h3 {
    color: var(--dark-background);
}

.size-options {
    display: flex;
    width: 90%;
    border-radius: 9px;
    overflow: hidden;
    height: 38px;
}

.size-options div {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.size-options div:nth-child(1) {
    background-color: #E3E3E3;
    flex: 1;
}

.size-options div:nth-child(2) {
    background-color: #E3E3E3;
    flex: 1;
}

.size-options div:nth-child(3) {
    background-color: #E3E3E3;
    flex: 1;
}

.size-options div h3 {
    font-size: 17px;
    color: var(--dark-background);
}

.size-options div:not(.selected-size):hover {
    background-color: #cecdcd;
    cursor: pointer;
}



.size-options div.selected-size {
    background-color: var(--primary-color);
}

.size-options div.selected-size h3,
.size-options div.selected-size p {
    color: white;
}


.purchase-details {
    display: flex;
    gap: 25px;
    align-items: center;
    width: 250px;
    margin-top: 9px;
}

.quantity {
    display: flex;
    gap: 10px;
    align-items: center;
}

.increase-price h2 {
    margin-top: 10px;
}

.choosed-price {
    font-size: 24px;
    font-weight: bold;
}

.choosed-price h1 {
    font-size: 30px;
    font-weight: 400;
}

.quantity {
    background-color: #E3E3E3;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    display: flex;
}

.quantity button {
    flex: 3;
}

.quantity button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.quantity h4 {
    flex: 1;
    font-size: 13px;
}

.quantity button p {
    font-size: 20px;
}

.quantity button:nth-child(3) p {
    margin-top: 2px;
}

.quantity button:hover {
    background-color: #cecdcd;
    color: white;
    border-radius: 3px;
}


.modal-action {
    width: 90%;
    height: 55px;
    display: flex;
    gap: 40px;
}

button.cancel {
    background-color: transparent;
    border: none;
    font-size: 12px;
}

button.confirm {
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width: 228px;
}

.cancel p,
.confirm p {
    font-family: "Noto Serif", serif;
}

.confirm p {
    font-size: 15px;
    font-weight: 500;
    color: white;
    letter-spacing: 0.5px;
}

.cancel p {
    font-size: 15px;
    font-weight: 500;
    color: var(--legend-light);
    letter-spacing: 0.5px;
}


.confirm {
    background-color: #3FC754;
}


.cancel {
    background-color: transparent;
}

.confirm:hover, .cancel:hover{
    opacity: 0.9;
}