* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-background: #EBEBEB;
    --dark-background: #1C1C1C;
    --legend-light: #686868;
    --legend-dark: #6B7280;
}

body {
    padding: 20px;
    font-family: "Noto Serif", serif;
}

body.light {
    background-color: var(--light-background);
    color: var(--dark-background);
}

body.dark {
    background-color: var(--dark-background);
    color: var(--light-background);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.count-pizzas {
    display: flex;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #1685CA;
    border-radius: 50%;
    right: 122px;
    top: 20px;
    z-index: 1;
}

.count-pizzas p {
    font-size: 12px;
    color: white;
    margin: auto;
    font-weight: bold;
}
.cart-icon svg {
    stroke: #1C1C1C;
}

.cart-icon {
    position: relative;
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: 0.3s;
}

.cart-icon .light {
    stroke: #1C1C1C;
}
main {
    margin-top: 40px;
}
.menu {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}

.container {
    display: flex;
    gap: 220px;
    flex-wrap: wrap;
}

.pizza-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.pizza-img {
    width: 195px;
    height: 195px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 7px;
    position: relative;
    border-radius: 12px;
}

.pizza-img.margherita { background-image: url("../images/pizza.png"); }
.pizza-img.pepperoni { background-image: url("../images/pizza2.png"); }
.pizza-img.four-cheese { background-image: url("../images/pizza3.png"); }
.pizza-img.vegetarian { background-image: url("../images/pizza4.png"); }
.pizza-img.mexican { background-image: url("../images/pizza5.png"); }
.pizza-img.sweet { background-image: url("../images/pizza7.png"); }

.purchase {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.purchase svg {
    width: 50px;
    height: 50px;
    fill: #1C1C1C;
    transition: 0.3s;
}

.purchase svg:hover {
    transform: scale(1.2);
}

.pizza-card h2 {
    margin-top: 5px;
    font-size: 17px;
    color: var(--legend-light);
}

.pizza-card h3 {
    font-size: 23px;
}

.pizza-card p {
    max-width: 180px;
    font-size: 15px;
    color: var(--legend-light);
    text-align: center;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.details > * {
    display: flex;
    align-items: center;
}

.theme-switch {
    position: relative;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #b8c8d1b5;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.switch .icon {
    position: absolute;
    width: 21px;
    height: 23px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
}



.switch .sun {
    left: 6px;
}
.moon * {
    stroke: #567c8b;
}

.sun * {
    stroke: #ffffff;
}

.switch .moon {
    right: 6px;
    opacity: 0.3;
}

.slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background: #ebebeb;
    border-radius: 50%;
    transition: transform 0.3s;
}

#theme-checkbox:checked + .switch {
    background: #585858;
}

#theme-checkbox:checked + .switch .slider {
    transform: translateX(30px);
    background-color: #808080
}

#theme-checkbox:checked + .switch .sun {
    opacity: 0.3;
}

#theme-checkbox:checked + .switch .moon {
    opacity: 1;
}