* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-background: #EBEBEB;
    --dark-background: #1C1C1C;
    --legend-light: #4e4d4d;
    --legend-dark: #9a9faa;
}

body {
    padding: 20px;
    font-family: "Noto Serif", serif;
}

#app.active {
    opacity: 0.5;
}

body.light {
    background-color: var(--light-background);
    color: var(--dark-background);
}

body.dark {
    background-color: var(--dark-background);
    color: var(--light-background);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.count-pizzas {
    display: flex;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #1685CA;
    border-radius: 50%;
    right: 122px;
    top: 20px;
    z-index: 1;
}

.count-pizzas p {
    font-size: 12px;
    color: white;
    margin: auto;
    font-weight: bold;
}

.cart-icon svg {
    stroke: #1C1C1C;
}

.cart-icon {
    position: relative;
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: 0.3s;
}

.cart-icon .light {
    stroke: #1C1C1C;
}

main {
    margin-top: 20px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}

.container {
    display: flex;
    gap: 190px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pizza-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.pizza-img {
    width: 195px;
    height: 195px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 7px;
    position: relative;
    border-radius: 12px;
}

.pizza-img.margherita {
    background-image: url("../images/pizza.png");
}

.pizza-img.pepperoni {
    background-image: url("../images/pizza2.png");
}

.pizza-img.four-cheese {
    background-image: url("../images/pizza3.png");
}

.pizza-img.vegetarian {
    background-image: url("../images/pizza4.png");
}

.pizza-img.mexican {
    background-image: url("../images/pizza5.png");
}

.pizza-img.sweet {
    background-image: url("../images/pizza7.png");
}

.purchase {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.purchase svg {
    width: 50px;
    height: 50px;
    fill: #1C1C1C;
    transition: 0.3s;
}

.purchase svg:hover {
    transform: scale(1.2);
}


.pizza-info.light {
    color: var(--legend-light);
}

.pizza-info.dark {
    color: var(--legend-dark);
}

.pizza-card h2 {
    margin-top: 5px;
    font-size: 17px;

}


.pizza-card h3 {
    font-size: 23px;
}

.pizza-card p {
    max-width: 220px;
    font-size: 15px;
    text-align: center;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.details>* {
    display: flex;
    align-items: center;
}

.theme-switch {
    position: relative;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #b8c8d1b5;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.switch .icon {
    position: absolute;
    width: 21px;
    height: 23px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
}



.switch .sun {
    left: 6px;
}

.moon * {
    stroke: #567c8b;
}

.sun * {
    stroke: #ffffff;
}

.switch .moon {
    right: 6px;
    opacity: 0.3;
}

.slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background: #ebebeb;
    border-radius: 50%;
    transition: transform 0.3s;
}

#theme-checkbox:checked+.switch {
    background: #585858;
}

#theme-checkbox:checked+.switch .slider {
    transform: translateX(30px);
    background-color: #808080
}

#theme-checkbox:checked+.switch .sun {
    opacity: 0.3;
}

#theme-checkbox:checked+.switch .moon {
    opacity: 1;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 52%;
    left: 50%;
    flex-direction: row;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color: #fcfcfc;
    z-index: 2;
    border-radius: 17px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

}

.choosed-pizza {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 45%;
    height: 100%;
    background-color: #1685CA;
}

.choosed-pizza img {
    width: 85%;
}

.pizza-description {
    width: 55%;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.pizza-description p {
    font-size: 14px;
    color: var(--legend-light);
}

.pizza-description p {
    font-size: 14px;
    color: var(--legend-light);
}

.sizes {
    display: flex;
    gap: 9px;
    flex-direction: column;
}


.sizes h2 {
    font-size: 16px;
    font-weight: 500;
    color: #919090
}

.size-options div h3 {
 color: var(--dark-background);
}

.size-options {
    display: flex;
    width: 90%; 
    border-radius: 9px; 
    overflow: hidden; 
    height: 38px;
}

.size-options div:nth-child(1) {
    background-color: #E3E3E3;
    color: white;
    flex: 1;
}
.size-options div:nth-child(2) {
    background-color: #c4c4c4;
    color: white;
    flex: 1;
}
.size-options div:nth-child(3) {
    background-color: #9e9d9d;
    color: white;
    flex: 1;
}

.size-options div {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.size-options div h3 {
    font-size: 17px;
}
